.gridGolden {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

.gridGolden img {
    width: 100%;
}

.goldenRow1 {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 1;
    grid-row-end: 17;
    background: #000;
}

/* Bear with flower */
.Bear1 {
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 12; 
}

/* Bear pins */
.Bear2 {
    grid-column-start: 12;
    grid-column-end: 17;
    grid-row-start: 6;
    grid-row-end: 8; 
}

/* .goldenRow2 {
    grid-column-start: 1;
    grid-column-end: 21;
    grid-row-start: 21;
    grid-row-end: 22;
    background: #fff;
} */